<div id="<%= dom_id employee %>" class="card bg-dark text-light mb-3" style="background-color: #232629;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-2">
          <strong class="text-info">Name:</strong>
          <span class="ms-2"><%= employee.name %></span>
        </p>

        <p class="mb-2">
          <strong class="text-info">Department:</strong>
          <span class="ms-2"><%= employee.department %></span>
        </p>

        <p class="mb-2">
          <strong class="text-info">Address:</strong>
          <span class="ms-2"><%= employee.address %></span>
        </p>
      </div>
      
      <div class="col-md-6">
        <p class="mb-2">
          <strong class="text-info">Post:</strong>
          <span class="ms-2"><%= employee.post %></span>
        </p>

        <p class="mb-2">
          <strong class="text-info">Salary:</strong>
          <span class="ms-2"><%= employee.salary %></span>
        </p>
      </div>
    </div>
  </div>
</div>
